!!! html
%html
	%head
		%title FeatureFlags
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags

	- if on? :better_layout
		%body.better
			%header
				= yield :header
			%section.main
				= yield
				- if @layout_options.include_navigation?
					%nav
						- if @layout_options.nav_prev.blank?
							%i.prev.disabled
						- else
							= link_to @layout_options.nav_prev do
								%i.prev
						- if @layout_options.nav_top.blank?
							%i.top.disabled
						- else
							= link_to @layout_options.nav_top do
								%i.top
						- if @layout_options.nav_next.blank?
							%i.next.disabled
						- else
							= link_to @layout_options.nav_next do
								%i.next

			-# TODO: hide secret features
			:javascript
				Feature.setFeatures(#{@features.to_json})

	- else
		%body
			= yield

