!!! html
%html
	%head
		%title FeatureFlags
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags

	- if on? :better_layout
		%body.better
			%header
				= yield :header
			%section.main
				= yield
	- else
		%body
			= yield
